.post-card-wrapper.d-flex.flex-row-reverse.mt-3.mb-5(*ngIf='post')
  .post-card(style='width: 700px', [id]='"id-" + post.id')
    .post-card-header.d-flex((click)='navigateToDetailClick()')
      h6.p-1 Author: {{ post.authorName }}
      p.p-1.ms-5.ms-auto {{ (post.createdAt >= post.updatedAt ? post.createdAt : post.updatedAt) | date:'dd.MM.yyyy - HH:mm:SS'}}
    .post-tags.mb-1(*ngIf='post.tags.length > 0')
      span.py-2.px-3.text-tag.me-2.cur-pointer(*ngFor='let tag of post.tags') {{ tag }}
    .post-card-body
      .body-title.mb-2((click)='navigateToDetailClick()')
        h2 {{ post.title }}
      .body-content(id="collapseCardBody", [ngbCollapse]="isCollapsed")
        .content-text((click)='navigateToDetailClick()')
          p {{ post.content }}
        ngb-carousel(*ngIf='post.images.length > 0')
          ng-template(ngbSlide *ngFor="let image of post.images")
            .wrapper.d-flex.justify-content-center
              img.d-block([src]='imageUrl+image', alt='Not found image')  
    .post-card-footer.d-flex.py-2
      .footer-comments.mx-3.d-flex.align-items-center((click)='navigateToCommentPost()')
        i.bi.bi-chat-left-text-fill.me-2
        span(*ngIf='!isDetail') {{ post.commentCount }}
        span(*ngIf='isDetail && comments') {{ comments.length }}
      .footer-action-btns.d-flex.ms-auto.me-3(*ngIf='(accountFacade.account$ | async)?.username === post.authorName')
        button.btn.btn-warning.text-white.bi.bi-pencil-fill((click)='navigateToEditPost()')
        button.btn.btn-danger.ms-3.bi.bi-trash-fill((click)='deletePost()')
  .post-card-left-controls.me-3.mt-2
    button.btn.btn-light((click)='ratingUp()', *ngIf='(!isLiked) && (accountFacade.isAuthenticated$() | async)')
      i.bi.bi-caret-up-fill
    button.btn.btn-success((click)='ratingUp()', *ngIf='isLiked && (accountFacade.isAuthenticated$() | async)')
      i.bi.bi-caret-up-fill
    p.my-1.p-0 {{post.rating}}
    button.btn.btn-light((click)='ratingDown()', *ngIf='(!isDisliked) && (accountFacade.isAuthenticated$() | async)')
      i.bi.bi-caret-down-fill
    button.btn.btn-danger((click)='ratingDown()', *ngIf='isDisliked && (accountFacade.isAuthenticated$() | async)')
      i.bi.bi-caret-down-fill
    button.btn.btn-light.mt-2((click)="isCollapsed = !isCollapsed", [attr.aria-expanded]="!isCollapsed", aria-controls="collapseCardBody")
      i.bi.bi-arrows-collapse(*ngIf='!isCollapsed')
      i.bi.bi-arrows-expand(*ngIf='isCollapsed')
    button.btn.btn-light.mt-2((click)='navToNextPostClick()', [hidden]='isDetail')
      i.bi.bi-arrow-bar-down
    