.comment-card-wrapper.d-flex.flex-row.mt-3(*ngIf='comment')
  .comment-card(style='width: 700px')
    .comment-card-header.d-flex
      h6.p-1.m-0 Author: {{ comment.authorName }}
      p.p-1.m-0.ms-5.ms-auto {{ comment.createAt | date:'dd.MM.yyyy - HH:mm:SS' }}
    .comment-card-body
      .body-content
        .content-text
          p {{ comment.message }}
    .comment-card-footer.d-flex.py-2
      .comment-card-footer-controls.d-flex.flex-row
        button.btn.btn-light.ms-3((click)='ratingUp()', *ngIf='(!isLiked) && (accountFacade.isAuthenticated$() | async)')
          i.bi.bi-caret-up-fill 
        button.btn.btn-success.ms-3((click)='ratingUp()', *ngIf='isLiked && (accountFacade.isAuthenticated$() | async)')
          i.bi.bi-caret-up-fill 
        p.p-0.my-auto.ms-3 {{ comment.rating }}
        button.btn.btn-light.ms-3((click)='ratingDown()', *ngIf='(!isDisliked) && (accountFacade.isAuthenticated$() | async)')
          i.bi.bi-caret-down-fill
        button.btn.btn-danger.ms-3((click)='ratingDown()', *ngIf='isDisliked && (accountFacade.isAuthenticated$() | async)')
          i.bi.bi-caret-down-fill
      .footer-action-btns.d-flex.ms-auto.me-3(*ngIf='(accountFacade.account$ | async)?.username === comment.authorName')
        button.btn.btn-danger.ms-3.bi.bi-trash-fill((click)='deleteComment()')
  